
/* This outline property puts an outline on all divs
 This div below assigns the color solid gray to the bars around PREV and NEXT*/

div{	
	outline: 1px solid #CCCCCC;     
	} 

/* This is the outermost div in our content markup*/
#main-content{
	width: 960px;
	height: 600px;
		
}


.button-holder{
	
	width:180px;
	float:left;
}

.button{
	
	width: 60px;
	padding: 8px;
	margin: 4px;
	border-width: 1px;
	border-color: black;
	border-style: solid;    /* An alternative way of writing all these border things is:	border: 1px solid black */
	float: left;
	text-align: center;
}

.image-holder{
	width: 600px;
	height: 345px;
	float: left;
	
}
